<nav class="navbar navbar-inverse">
  <ul class="nav navbar-nav navbar-left">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Course', course_path %></li>
    <li><%= link_to 'Testimonials', testimonials_path %></li>
    <li><%= link_to 'Students', students_path %></li>
  </ul>

  <% if session[:mentor_id] %>
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to 'Admin', mentor_path %></li>
        <li><%= button_to 'Logout', logout_path, method: :delete, class: 'btn navbar-btn' %></li>
      </ul>
  <% else %>
      <%= button_to 'Login', login_path, class: 'btn navbar-btn pull-right' %>
  <% end %>
</nav>