<div class="page-header">
  <h1>New testimonial</h1>
</div>

<%= form_for @testimonial, html: {class: 'form-horizontal center'} do |f| %>

    <% if @testimonial.errors.any? %>
        <div class="alert alert-danger">
          <b><%= pluralize(@testimonial.errors.count, "error") %> on form.</b>
          <ul>
            <% @testimonial.errors.full_messages.each do |message| %>
                <li>* <%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :user_name, class: 'col-md-4 control-label' %>
      <div class="col-md-6">
        <%= f.text_field :user_name, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :feedback, class: 'col-md-4 control-label' %>
      <div class="col-md-6">
        <%= f.text_area :feedback, class: 'form-control' %>
      </div>
    </div>

    <%= f.submit 'Create testimonial', class: 'btn btn-large btn-primary' %>
<% end %>